:root {
  --background: #FFF1E6;


  --font-color: #4D2C19;


  --primary-button-background: #F8943F;
  --primary-button-border: #DE6F0D;


  --orange: #EA7D28;
  --Text-1: #303030;
  --Text-2: #474747;

  --secondary-button-background: #FFEFE2;
  --secondary-button-border: #FBBE9C;
}